body {
  font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}

main {
  max-width: 1000px;
  width: 100%;
  margin-top: 71px;
}

@media screen and (min-width: 769px) {
  .logo:hover {
    opacity: 0.7;
  }
  .navchoice-btn:hover {
    opacity: 0.7;
  }
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba( 255, 255, 255, 0.9 );
  color: #000000;
  z-index: 10;
  box-shadow: 0 0 5px 2px #808080;
}

.nav-wrapper {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 70px;
  height: 70px;
  cursor: pointer;
  background-image: url(../img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.navchoice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navchoice-btn {
  padding: 0 25px;
  list-style: none;
  cursor: pointer;
}

.top {
  height: calc(100vh - 71px);
  width: 100vw;
  background-color: #1BA1E2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-title {
  color: white;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem;
  text-shadow: 5px 5px 5px #808080; 
  letter-spacing: 1px;
  min-width: 480px;
  height: auto;
}

.greet {
  font-size: 3.5rem;
  font-weight: bold;
}

.img-container {
  position: relative;
}

.img-container p {
  position: absolute;
  color: white;
  top: 215px;
  left: 150px;
  font-size: 40px;
  margin: 0;
  cursor: pointer;
  display: inline-block;
}

.drum {
  height: 400px;
  width: 400px;
  background: url(../img/drum.png);
  background-size: contain;
}

.about {
  min-height: 100vh;
  width: 100vw;
  background-image: url(../img/wallpaper.jpeg);
  display: flex;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 1px;
}

.about-container {
  height: 75%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.about-title {
  width: 50%;
  text-align: center;
  line-height: 10vh;
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 5px 5px 5px #808080; 
  margin: 0;
  min-width: 370px;
  height: auto;
}

.row {
  height: 40%;
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.original-image {
  height: 60%;
  width: 20%;
  border-radius: 50%;
  margin-left: 10px;
  border: solid 3px #1BA1E2;
  margin-bottom: 125px;
}

.introduce {
  height: 80%;
  width: 60%;
  margin-left: 10px;
  padding: 40px;
  text-shadow: 1px 1px 2px #808080; 
  font-size: 1.2rem;
}

.Github-logo {
  height: 30px;
  width: 30px;
}

.Github-URL {
  line-height: 10px;
}

.skill {
  min-height: 100vh;
  width: 100vw;
  background-color: #1BA1E2;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.skill-title {
  height: 10%;
  width: 50%;
  margin-top: 190px;
  margin-bottom: 100px;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-size: 3.5rem;
  text-shadow: 5px 5px 5px #808080; 
  color: white;
}

.skill-set {
  height: 40vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 110px;
}

.skill-set-items {
  height: 80%;
  width: 80%;
  line-height: 70px;
  font-size: 1.3rem;
  background-color: white;
  padding: 30px 20px 20px 50px;
  background-color: white;
  border-top: solid 5px #5d627b;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.22);
  color: #5d627b;
}

.type {
  background:linear-gradient(transparent 70%, #FFFF00 0%);
}

.products {
  height: 80vh;
  width: 80%;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product {
  height: 90%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  min-width: 700px;
}

.product-screen {
  height: 80%;
  width: 100%;
  background-image: url(../img/PC.png);
  background-size: cover;
  position: relative;
}

.screen-image {
  position: absolute;
  top: 43px;
  left: 39px;
  height: 62%;
  width: 89%;
}

.screen-transition {
  height: 13%;
  width: 30%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
}

.left-arrow {
  height: 30px;
  width: 30px;
  margin-right: 30px;
  border: 5px solid;
  border-color:  transparent transparent #FFFFFF #FFFFFF;
  transform: rotate(45deg);
  cursor: pointer;
}

.left-arrow:hover {
  opacity: 0.8;
}

.right-arrow {
  height: 30px;
  width: 30px;
  margin-left: 30px;
  border: 5px solid;
  border-color: #FFFFFF #FFFFFF transparent transparent;
  transform: rotate(45deg);
  cursor: pointer;
}

.right-arrow:hover {
  opacity: 0.8;
}

.products-description {
  height: 100vh;
  width: 80%;
  background-color: black;
}